
.text_bold, .what_is_vip, .versionCmp .v_title, .versionCmp table tr td:nth-child(1), .versionCmp table thead tr td, .versionCmp table tbody tr:nth-child(even) td:nth-child(3), .versionCmp table tbody tr:nth-child(odd) td:nth-child(3) {
  font-family: PingFangSC-Medium, "STHeitiSC-Light", BlinkMacSystemFont, "Helvetica", "lucida Grande", "SCHeiti", "Microsoft YaHei";
  font-weight: bold;
}

.what_is_vip{
  margin-bottom: 6px;
  font-size: 18px;
}

.versionCmp {
  padding: 0;
  width: 712px;
}

.versionCmp .hr {
 color:#00F;
 height: 1px;
}

.versionCmp .v_title {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  margin-bottom: 20px;
  text-align: left;
}

.versionCmp table {
  border-spacing: 1px 0;
  border-collapse: separate;
}

.versionCmp table tr td:nth-child(3) {
   color: #754F00;
}

.versionCmp table td {
  color: #384049;
}

.versionCmp table thead tr td {
  font-size: 14px;
  line-height: 20px;
  padding: 8px 20px;
  background-color: #F6F7FA;
}

.versionCmp table thead tr td:nth-child(3) {
  background: -webkit-gradient(linear, left top, right bottom, from(#C2A370), to(#E9CB8B));
  background: -webkit-linear-gradient(top left, #C2A370, #E9CB8B);
  background: -o-linear-gradient(top left, #C2A370, #E9CB8B);
  background: linear-gradient(to bottom right, #C2A370, #E9CB8B);
}

.versionCmp table tbody tr td {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 20px;
}

.versionCmp table tr td:nth-child(1) {
  text-align: right;
  padding-left: 10px;
}

.versionCmp table thead tr td:nth-child(1) {
  padding-left: 10px;
}

.versionCmp table tbody tr:nth-child(even) {
  background-color: #F6F7FA;
}

.versionCmp table tbody tr:nth-child(odd) {
  background-color: #FCFCFE;
}

.versionCmp table tbody tr:nth-child(even) td:nth-child(3) {
  background-color: #F3EEE4;
}

.versionCmp table tbody tr:nth-child(odd) td:nth-child(3) {
  background-color: #FBFAF6;
}
